<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Fruzsina Kalo is a hungarian product designer, with architectural and engineer background. She is an empowered Design thinker, who puts the user first in the UX"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="./images/favicon-filled.png" />
    <!-- <link rel="apple-touch-icon" href="./images/apple-touch-icon.png" /> TODO -->
    <link rel="manifest" href="./manifests/manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheets/general.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <link rel="stylesheet" href="./stylesheets/projects.css" />
    <link rel="stylesheet" href="./stylesheets/queries.css" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
        <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script defer src="./javascripts/script.js"></script>

    <title>Fruzsina Kalo &bull; Product Designer</title>
  </head>

  <body>
    <header class="header">
      <a href="/">
        <img class="logo" src="./images/logo-outline.png" alt="Fruzsina Kalo logo" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="smooth main-nav-link" href="/#work">Work</a>
          </li>
          <li>
            <a class="smooth main-nav-link" href="/#methods"
              >My approach</a
            >
          </li>
          <li>
            <a class="smooth main-nav-link" href="/#contact"
              >Contact</a
            >
          </li>
          <li>
            <a class="main-nav-link nav-cta" target="_blank" href="./pdf/resume.pdf"
              >Resume</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="project-nav">
        <a href="/adeslogo">
          <div class="pager left">
            <div class="pager-circle">
              <span class="left-text">I'm a team player, too!</span>
            </div>
          </div>
        </a>
        <a href="/homely">
          <div class="pager right">
            <div class="pager-circle">
              <p class="right-text">I want to learn, too!</p>
            </div>
          </div>
        </a>
      </div>

      <section class="section-project-intro">
        <div>
          <div class="project-intro-box">
            <div class="project-intro">
              A good designer should speak the language of their teammates.
            </div>
          </div>
        </div>
      </section>

      <section class="container grid grid--project">
          <div>
            <div class="heading-project">Omnifood</div>
            <span class="project-summary">
              My first complete web design project, a beautiful outcome of following along a HTML / CSS course.
            </span>
          </div>
          <img
            class="thumbnail"
            src="./images/Omnifood/thumbnail.png"
            alt="HTML and CSS course landing page design"
          />
      </section>

      <section class="container grid grid--project">
        <div>
          <p class="content">
            During the HTML / CSS implementation, I used the  “desktop first” method for a full landing page design with several different sections and Call-To-Action items.
          </p>
        </div>
        <img
          class="project-mockup"
          src="./images/Omnifood/desktop.png"
          alt="HTML and CSS course landing page design"
        />
      </section>

      <section class="container grid grid--project">
        <div>
          <p class="content">
            The whole page is responsive to different viewport sizes thanks to the media queries.
          </p>
        </div>
        <img
          class="project-image"
          src="./images/Omnifood/vscode.png"
          alt="HTML and CSS course landing page design"
        />
      </section>

      <section class="container grid grid--project">
        <div>
          <p class="content">
            Hero section on mobile.
          </p>
        </div>
        <img
          class="project-mockup"
          src="./images/Omnifood/phone.png"
          alt="HTML and CSS course landing page design"
        />
      </section>

      <section class="container grid grid--project">
        <div>
          <p class="content">
            Meals section on iPad.
          </p>
        </div>
        <img
          class="project-mockup"
          src="./images/Omnifood/ipad.png"
          alt="HTML and CSS course landing page design"
        />
      </section>

      <section class="site container grid grid--project">
        <div class="live-site">
          <p class="site-intro">
            Find the live site here:
          </p>
          <a class="site-link" target="_blank" href="https://omnifood-kafu.netlify.app">
            https://omnifood-kafu.netlify.app
          </a>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="container">
        <a class="footer-logo" href="index.html">
          <img class="logo" src="./images/logo-white.png" alt="Fruzsina Kalo logo" />
        </a>

        <p class="copyright">
          Designed & built by Fruzsina Kaló &copy;
          <span class="year">2022</span>
        </p>
      </div>
    </footer>
  </body>
</html>
