/* ****************** */
/* HEADER */
/* ****************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;

  /* Because we want the header to be sticky later */
  height: 9.6rem;
  padding: 0 4.2rem;
  position: relative;
}

.logo {
  height: 3.6rem;
}

/* ****************** */
/* NAVIGATION */
/* ****************** */

.main-nav-list {
  font-family: "Comfortaa", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: lowercase;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #90bcb0;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* background-color: #a0d1c3; */
  border: 2px solid #a0d1c3;
  color: #a0d1c3;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #a0d1c3;
  color: #333;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;

  /* No shadow while clicking these icons */
  box-shadow: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky navigation */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #333;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.15);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ****************** */
/* HERO SECTION */
/* ****************** */

.section-hero {
  background-color: #333;
  color: #fff;
  padding: 9.6rem 0 9.6rem 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem 6.4rem;
}

.hero-title {
  font-family: "Advent Pro", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 20px;
}

/* .hero-border {
  width: 50%;
  height: 10px;
  align-self: center;
  border-top: solid 1px #fff;
  margin: 0 auto;
} */

.hero-description {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.6;
  margin-bottom: 7.2rem;
}

.hero-img-box {
  display: inline-block;
}

.hero-img {
  width: 100%;
  border-radius: 50%;
}

/* ****************** */
/* WORK SECTION */
/* ****************** */

.section-work {
  height: 100vh;
  padding: 15rem 0;
  margin-bottom: 9.6rem;
}

.description {
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  /* text-align: end; */
}

.work {
  background-color: #fff;
  color: #333;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s;
  aspect-ratio: 1;
  /* height: 20.2rem; */
}

.work-content {
  padding: 4.8rem 2.4rem 4.8rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.work-title {
  font-size: 2rem;
  font-weight: 400;
}

.work-thumbnail {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.work:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.075);
}

.work:hover .hide {
  display: block;
}

.work:hover .work-content {
  display: none;
}

/* ****************** */
/* METHODS SECTION */
/* ****************** */

.section-methods {
  height: 100vh;
  padding: 15rem 0;
  margin-bottom: 9.6rem;
}

.grid-diamonds {
  display: grid;
  column-gap: 0;
  /* max-width: 100rem; */
}

.diamond {
  width: 100%;
  transition: all 0.4s;
}

.diamond--research:hover,
.diamond--synthesis:hover,
.diamond--ideation:hover,
.diamond--implementation:hover {
  cursor: pointer;
  transition: all 0.4s;
}

.diamond--research:hover {
  transform: translateX(-2rem);
}

.diamond--synthesis:hover,
.diamond--synthesis:hover ~ .diamond--ideation,
.diamond--synthesis:hover ~ .diamond--implementation {
  transform: translateX(2rem);
  transition: all 0.4s;
}

.diamond--ideation:hover ~ .diamond--implementation {
  transform: translateX(2rem);
  transition: all 0.4s;
}

.diamond--implementation:hover {
  transform: translateX(2rem);
}

.diamond--research:hover .hide,
.diamond--synthesis:hover .hide,
.diamond--ideation:hover .hide,
.diamond--implementation:hover .hide {
  display: block;
}

.diamond--research:hover .initial,
.diamond--synthesis:hover .initial,
.diamond--ideation:hover .initial,
.diamond--implementation:hover .initial {
  display: none;
}

/* ****************** */
/* CONTACT SECTION */
/* ****************** */

.section-contact {
  height: 100vh;
  padding: 15rem 0;
  /* padding: 9.6rem 0 9.6rem 0; */
  margin-bottom: 9.6rem;
}

.contacts {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 4.8rem;
}

.contact:link,
.contact:visited {
  color: #fff;
  text-decoration: none;
  font-family: "Advent Pro", sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  letter-spacing: 10px;
  transition: all 0.3s;
  margin-top: 5.6rem;
  line-height: 2;
}

.contact:hover,
.contact:active {
  color: #90bcb0;
  transform: translateY(-2px);
  text-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.2);
}

/* .email {
  inline-size: 34rem;
  overflow-wrap: break-word;
} */

/* ****************** */
/* FOOTER */
/* ****************** */

.footer {
  padding: 4.8rem 0;
  /* border-top: 1px solid #eee; */
}

.footer .container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-logo,
.copyright {
  align-self: center;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}
